<html>

<body>
  <script>
    const data = JSON.parse('<%- JSON.stringify(data) %>');
    const os = JSON.parse('<%- JSON.stringify(os) %>');
    console.log(data, os);
    window.location.replace(data[`intent_${os}`]);
    setTimeout(() => { window.location = data[`intent_web`]; }, 250);
  </script>
</body>

</html>